.BaseTable__row {
  height: 50px;
}

.BaseTable__row:hover {
  background-color: #fbfbfd;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.cell-more-btn {
  font-size: 14px;
  background: none;
  border: none;
  color: #62738d;
  height: 18px;
  cursor: pointer;
}
