html {
  height: 100vh;
}

body,
#root,
.app-container,
.BaseTable {
  height: 100%;
}

body * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323b49;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  font-size: 13px;
}

.landing-page {
  text-align: center;
}

.stream-page {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.BaseTable__row,
.BaseTable__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  min-width: 930px;
}

.BaseTable__row-cell,
.BaseTable__header-cell {
  min-width: 0;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0 7.5px;
  box-sizing: border-box;
  overflow: hidden;
}

.cell-sz-xs {
  width: 40px;
}

.cell-sz-sm {
  width: 100px;
}

.cell-sz-med {
  width: 160px;
}

.cell-sz-lg {
  width: 220px;
}

.nudge-down--1 {
  position: relative;
  top: 1px;
}

.stream-btn {
  font-size: 14px;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    -webkit-filter 0.2s ease;
  transition: filter 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease;
  transition: filter 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease, -webkit-filter 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  padding: 6px 15px 7px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  margin: 0 10px;
}

.stream-btn--primary {
  background-clip: border-box;
  background-origin: border-box;
  background: linear-gradient(135deg, #ac8ece, #79589f);
  color: #fff;
}

.stream-btn--primary:hover {
  filter: brightness(105%);
}

.stream-btn--secondary {
  border: 1px solid #a997bf;
  color: #79589f;
  background: #fff;
}

.stream-btn--secondary:hover {
  background: #f7f3fb;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 13px;
  background: #fff;
  border: 1px solid #cfd7e6;
  box-shadow: inset 0 1px 2px 0 rgba(207, 215, 230, 0.4);
  line-height: 20px;
  transition: background 0.1s ease, border-color 0.1s ease;
  width: 100%;
}

input:focus {
  outline: none;
  border-color: #79589f;
  box-shadow: 0 0 0 2px rgba(157, 112, 208, 0.4);
}

form label {
  margin-bottom: 10px;
}

.mw38 {
  max-width: 38rem;
}

.p0-15 {
  padding: 0 15px;
}

.divider--silver {
  margin: 20px 0;
  border-color: #eef1f6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
